@model HeThongQuanLyThi.Models.LoginViewModel
@{
    ViewData[index: "Title"] = "Đăng nhập";
}
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="text-center mb-10">
                <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900">Đăng nhập</h2>
                <p class="text-sm text-gray-700">Vui lòng nhập thông tin tài khoản của bạn</p>
            </div>

            <form class="space-y-4 md:space-y-6" asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="ReturnUrl" />
                <div asp-validation-summary="ModelOnly" class="text-red-500 mb-3"></div>
                <div>
                    <label asp-for="UserNameOrEmail" class="block mb-2 text-sm font-medium text-gray-900"></label>
                    <input asp-for="UserNameOrEmail" placeholder="Username hoặc Email..."
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                        required="">
                </div>
                <div>
                    <label asp-for="Password" class="block mb-2 text-sm font-medium text-gray-900"></label>
                    <input asp-for="Password" placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                        required="">
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input asp-for="RememberMe"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
                        </div>
                        <div class="ml-3 text-sm">
                            <label asp-for="RememberMe" class="text-gray-500"></label>
                        </div>
                    </div>
                    <a asp-controller="Account" asp-action="Register"
                        class="text-sm font-medium text-blue-600 hover:underline">Quên mật khẩu?</a>
                </div>
                <button type="submit"
                    class="w-full text-white cursor-pointer bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Đăng
                    nhập</button>
                <p class="text-sm font-light text-gray-500">
                    Chưa có tài khoản? <a asp-controller="Account" asp-action="Register"
                        class="font-medium text-blue-600 hover:underline">Đăng ký</a>
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}