body {
    background: linear-gradient(to right,#92c2d7, #edffff);
    font-family: "Segoe UI", sans-serif;
}

.login-page .card {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.form-label {
    color: #333;
}

.btn-primary {
    background-color: #4e73df;
    border: none;
}

.btn-primary:hover {
    background-color: #3753b7;
}
