@{
    ViewData["Title"] = "Admin Dashboard";
}


<ul>
  <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Quản lý người dùng</a></li>
  <li><a asp-area="Admin" asp-controller="Teachers" asp-action="Index">Quản lý giáo viên</a></li>
</ul>
